
<form ng-submit="add_new()">
	<section id="newMark">
		<p><label for="title">Title</label></p>
		<input type="text" id="title" ng-model="new_mark.title" />
		<p><label for="url">URL</label></p>
		<input type="text" id="url" ng-model="new_mark.url" size="50" />
		<p><label for="description">Description</label></p>
		<input type="text" id="description" ng-model="new_mark.description" />
		<p><label for="tags">Tags (separated by commas)</label></p>
		<input type="text" id="tags" ng-model="new_mark.tags" />
		<p><label for="color">Color Label</label></section>
	<section id="newM">
		<input type="color" id="color" ng-model="new_mark.color" /></p></section>
	<section id="newMark">
		<p><label for="image">Image</label></section>
	<section id="newM">
		<input type="file" id="image" accept="image/*" ng-model="new_mark.image" /></p></section>
	<br>
	<section id="newMark">
		<h2><input type="reset" value="Reset"></h2>
		<h2><button type="submit">Create</button></h2></section>
</form>

<!--{{new_mark}}-->