<header>
                <h1>My marks</h1>
            </header>
			<input type="search" ng-model="search" placeholder="Search...">
            <section id="my_marks">
                <p ng-if="marks.length < 1">No marks.</p>
                <ul ng-if="marks.length >= 1">
				<div class="scroll">
                    <li ng-repeat="mark in marks | filter:search">
						<img ng-src="{{mark.icon}}" />
                        <a target="_blank" ng-href="{{mark.url}}">{{mark.title}}</a>
                        <p class="remove"><span class="remove" ng-click="removeMark(mark.url)">remove</span></p>
                    </li>
				</div>
                </ul>
            </section>