<div class="alert alert-dismissible alert-success" ng-if="add_success">
  <button type="button" class="close" data-dismiss="alert" ng-click="add_success=false">×</button>
  <strong>Awesome!</strong> Bookmark was successfully added! 
</div>
<div class="alert alert-dismissible alert-success" ng-if="edit_success">
  <button type="button" class="close" data-dismiss="alert" ng-click="add_success=false">×</button>
  <strong>Awesome!</strong> {{edit_mark.title}} was successfully edited! 
</div>
			<input type="search" ng-model="search" placeholder="Search..." class="form-control"/>
            <section id="my_marks">
                <div class="alert alert-info" ng-if="marks.length < 1">
                  <strong>Woah!</strong> You have no bookmarks yet. Try <a href="#/add" class="alert-link">adding some</a>.
                </div>
                <ul ng-if="marks.length >= 1">
				<div class="scroll">
                    <li ng-repeat="mark in marks | filter:search">
						<!--{{mark}}-->
						<img ng-src="{{mark.icon}}"/>
						<img ng-src="{{mark.image}}" ng-if="mark.image" />
                        <a target="_blank" ng-href="{{mark.url}}">{{mark.title}}</a>
                        <div class="remove"><a class="remove" ng-click="removeMark(mark.id)">remove</a></div>
                        <div class="edit"><a ng-click="getMark($index)" href="#/edit">edit</a></div>
                        {{mark}}
                    </li>
				</div>
                </ul>
            </section>